---
import CodeBlock from '../components/CodeBlock.astro';
import Slide from '../components/Slide.astro';

const sqlQueryPlanResultEXPLAINwithCost = `                       QUERY PLAN
------------------------------------------------------------------------------
Nested Loop  										(cost=0.56..2761623.95 rows=36867792 width=14)
  ->  Seq Scan on teams t  			(cost=0.00..5528.03 rows=44303 width=14)
  ->  Materialize  							(cost=0.29..8.51 rows=10 width=244)
    ->  Index Only Scan using index_players_on_team_id on players p
		 														(cost=0.56..47.13 rows=1508 width=4)
         Index Cond: (team_id = t.id)`;

const transactionExample = `
BEGIN
	EXPLAIN ANALYSE
		UPDATE players
		SET team_id = 1
		WHERE team_id = 2
ROLLBACK;
`;

const sideNotes = `
- Les valeurs de co没t sont d茅termin茅s par les param猫tres de co没ts du Planner.
- Une fa莽on de mesurer ces co没ts est de regarder le nombre d'acc猫s aux blocs disques.
- Le co没t d'un noeud sup茅rieur inclus le co没t de tous ces enfants + le sien.
`;
---

<Slide>
	<h3> La commande EXPLAIN dans tous 莽a ?</h3>
</Slide>

<Slide>
	<h3> La commande EXPLAIN dans tous 莽a ?</h3>
	<ul>
		<li>
			<p>Retourne le "Query Plan" choisi par le Planner.</p>
		</li>
		<li>
			<p>
				Peut 锚tre une estimation ou le co没t finale selon les options. (ANALYSE)
			</p>
		</li>
	</ul>
</Slide>

<Slide>
	<CodeBlock lang="sql">
		{sqlQueryPlanResultEXPLAINwithCost}
	</CodeBlock>
	<aside class="notes" data-markdown>
		<textarea data-template>
			{sideNotes}
		</textarea>
	</aside>
</Slide>
<Slide>
	<section style={{ display: 'flex', 'align-items': 'center' }}>
		<pre>
		<code class="langugage-sql">
			(cost=0.56..2761623.95 rows=36867792 width=14)
		</code>
	</pre>
		<ul>
			<ul>
				<li>
					<p>
						<b class="special-text">cost</b>: Intervalle entre start-up cost et
						total cost.
					</p>
				</li>
				<li>
					<p>
						<b class="special-text">rows</b>: Nombre de ligne 茅mise par un plan
						node.
					</p>
				</li>
				<li>
					<p>
						<b class="special-text">width</b>: Moyenne des rows 茅mis par les
						plan node, en octect (bytes).
					</p>
				</li>
			</ul>
		</ul>
	</section>
</Slide>
