---
import Slide from '../components/Slide.astro';
---

<Slide>
	<h2>Ressources et liens</h2>
	<ul>
		<li>
			<a
				href="https://www.postgresql.org/docs/current/query-path.html"
				target="_blank"
			>
				Query Path - PostgreSQL
			</a>
		</li>
		<li>
			<a
				href="https://www.postgresql.org/docs/current/using-explain.html"
				target="_blank">EXPLAIN - PostgreSQL</a
			>
		</li>
		<li>
			<a
				href="https://www.postgresql.org/docs/current/planner-optimizer.html"
				target="_blank">Planner/Optimizer - PostgreSQL</a
			>
		</li>
		<li>
			<a
				href="https://community.aws/content/2eJqYrbkgWOPSLzxgZwbdFpDS5q/explain-explained-understanding-the-postgresql-planner-better"
				target="_blank">Interview AWS - Explain EXPLAIN</a
			>
		</li>
		<li>
			<a
				href="https://sskelkar.medium.com/understanding-a-postgres-query-plan-75e8e1dc7d35"
				target="_blank">Understanding a Postgres Query Plan</a
			>
		</li>
	</ul>
</Slide>
