---
import Slide from '../components/Slide.astro';
---

<Slide>
	<h2>Ressources et liens</h2>
	<ul>
		<li>
			<a
				href="https://www.postgresql.org/docs/current/query-path.html"
				target="_blank"
			>
				Query Path - PostgreSQL
			</a>
		</li>
		<li>
			<a
				href="https://www.postgresql.org/docs/current/using-explain.html"
				target="_blank">EXPLAIN - PostgreSQL</a
			>
		</li>
		<li>
			<a
				href="https://www.postgresql.org/docs/current/planner-optimizer.html"
				target="_blank">Planner/Optimizer - PostgreSQL</a
			>
		</li>
	</ul></Slide
>
