---
import { Image } from 'astro:assets';

import Slide from '../components/Slide.astro';

const altText = 'PostgreSQL';
const path = '/src/assets/postgresql.webp';
const variantTextColor = 'color: cornflowerblue;';
---

<Slide>
	<div
		style="display: flex; justify-content: center; align-items: center; gap: 1rem;"
	>
		<Image src={path} alt={altText} width={100} height={100} />
		<h2>PostgreSQL</h2>
	</div>
	<p style=`${variantTextColor} font-weight: bolder;`>
		EXPLAIN et l'Optimiseur de requêtes
	</p>
</Slide>
