---
import Conclusion from '../slides/Conclusion.astro';
import ExplainingExplainCommand from '../slides/ExplainingExplainCommand.astro';
import LifeOfSqlQuery from '../slides/LifeOfSqlQuery.astro';
import QueryPlan from '../slides/QueryPlan.astro';
import QueryPlanner from '../slides/QueryPlanner.astro';

import Layout from '../layouts/Layout.astro';
import Ressources from '../slides/Ressources.astro';
import Summary from '../slides/Summary.astro';
import Title from '../slides/Title.astro';
---

<Layout title="ECecillo | EXPLAIN/OPTIMIZER">
	<main class="reveal">
		<div class="slides">
			<Title />
			<Summary />

			<LifeOfSqlQuery />
			<QueryPlan />

			<QueryPlanner />
			<ExplainingExplainCommand />

			<Conclusion />
			<Ressources />
		</div>
	</main>
</Layout>

<style lang="scss">
	// Sass is installed by default, you can change if you prefer Stylus or Less
	main {
		background: linear-gradient(#133055, #0c1a2a);
	}
</style>
